html{
    scroll-behavior: smooth
}
.jumbotron {
    background-image: url("./image/background.jpg");
    padding-top: 45px;
    padding-right: 45px;
}
.jumbotron div div.row .title{
    color: white;
}

div.themes div .box {
    transition: all .4s linear;
    position: relative;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    background: #f7f7f7;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 10px;
}
div.themes .box .img_prodcution {
    height: 360px;
    overflow: hidden;
}
div.themes .img_prodcution img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
div.themes div.row>div{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.themes div.row>div:hover .view.container.btn-group-vertical{
   display : inline-block; 
}
div.themes div.row>div:hover{
    cursor: pointer;
}

div.themes div.row div .view{
    display: none;
    position: absolute;
    top: 0;
    left:0;
    background: rgba(0, 0, 0, .35);
    opacity: 1;
    transition: .4s;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom : 100px;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5
}
footer p{
    font-size: 12px
}
footer div.copyright {
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #1f1d1d;
    background-color: #1f1d1d;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer h4{
    color: white
}
footer .container {
    padding-top: 50px;
    padding-bottom: 50px
}
footer .back-to-top {
    position: fixed;
    bottom: 3%;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #393d3f;
    border: 2px #393d3f solid;
    border-radius: 99px;
    display: block;
}
footer div.description{
    position: relative;
}
footer div.description div button.hotline{
    position: absolute;
    bottom: 10%;
    right: 1%;
    border-radius: 20px;
}
ul .nav-item :hover{
    cursor: pointer;
}
.badge{
    display: block;
    height: 30px;
    line-height: 24px
}

.check-delete{
    margin-top: 10px
}

@media (max-width: 1200px){
    .btn-trial {width: 250px;margin-bottom: 5px}
    .btn-login {width: 250px}
}   